#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1440px;
  width: 100%;
  padding: 0 20px;
}

.choice-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  margin-top: 70px;
  box-sizing: border-box; /* Gör att padding inte påverkar bredden */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 20px;
  /* flex-wrap: wrap; */
}

/* General Dark Mode Styles */
body.dark-mode {
  background-color: #202c36; /* Dark background for the whole site */
  color: #ffffff; /* Light text color */
  height:100%;
}

body.dark-mode nav {
  background-color: #3E4A55;
}

body.dark-mode h2 {
  color: #ffffff; 
}

body.dark-mode .home {
  background-color: #202c36;
  height: 100%;
  width: 100%;
}

body.dark-mode .filter-container:focus-within .filter-label,
.filter-label.active {
    color: white; 
    background-color: #202c36;
} 

body.dark-mode .filter-dropdown option {
  background-color: #3E4A55;
}

body.dark-mode .filter-container:hover {
  border: solid white 1px;
  border-radius: 4px;
}

body.dark-mode .search-container:focus-within .search-label,
.search-label.active {
  color: white; 
  background-color: #202c36;
} 

body.dark-mode .card {
  background-color: #3E4A55;
  border: 1px solid transparent;
  /* outline: 0px; */
}

body.dark-mode .card p {
  color: #C7CACE;
}

body.dark-mode .card h3 {
  color: #C7CACE;
}

body.dark-mode .search {
  background-color: #202c36;
  color: #C7CACE;
}

body.dark-mode .country-page {
  background-color: #202c36;
  color: #C7CACE;
}

body.dark-mode .dropdown-options {
  background-color: #444E56;
}

body.dark-mode .filter-container:focus-within .filter-label,
body.dark-mode .filter-label.active {
  color: white; 
  background-color: #202c36;
}

body.dark-mode .border-link {
  background-color: #444E56;
  color: #C7CACE;
}

body.dark-mode .back {
  color: #C7CACE;
  text-decoration: none;
}

@media only screen and (min-width: 375px) and (max-width:900px) {
  
  .choice-container {
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    margin-top: 70px;
    margin-bottom: -60px;
    gap: 5px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
  }

}
