/* Card.css */

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    width: 260px;
    height: 260px;
    margin-bottom: 25px;
    gap: 10px;
}

.card:hover {
    filter: brightness(1.2); 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2); 
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 50%;
    margin-bottom: 5px;
    border-radius: 3px 3px 0px 0px;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}

.country-text {
    padding: 5px 15px;
}

.card h3 {
    font-size: 14px;
    color: black;
    margin: 10px 0px;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card-link {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 375px) and (max-width:900px) {
  
    .card {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-align: left;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        text-decoration: none;
        width: 100%;
        height: 260px;
        margin-bottom: 25px;
        gap: 10px;
    }

    .card-container {
        margin-top: 100px;
    }
  
  }
