.search {
    border-radius: 4px;
    width: 380px;
    height: 60px;
    border: #C4C4C4 1px solid;
    padding-left: 15px;
    box-sizing: border-box;
    color: rgb(102,102,102);
    font-size: 16px;
}

@media only screen and (min-width: 375px) and (max-width:900px) {
  
    .search {
        width: 300px;
    }
  
  }